.navBar {
    background-color: black;
    position: absolute;
    top: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 20px;
    left: 0;
}

.appName {
    color: white;
    font-size: 1.2em;
    font-weight: 600;
}

.navBar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100%;
    gap: 30px;
}

.navBar ul li {
    list-style: none;
    text-align: center;
}

#link {
    padding: 6px 10px;
    transition: all .3s ease;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    border-radius: 20px;
    border: 2px solid transparent;
}

#link img {
    width: 20px;
}

#link:hover {
    border-color: white;
}

.navBar ul li:hover {
    opacity: 1;
}

.navBar a {
    color: white;
    font-size: .7em;
    text-decoration: none;
    font-weight: 600;
}
